.playbar {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1.5rem;
    float: inline-start;
    div {
        width: 33.3%;
        display: inline-block;
        text-align: center;
    }
}
.background {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1.5rem;
    background-color: black;
    opacity: 50%
}

img:hover {
    filter: brightness(40%);
}