<div style="float: left; width: 100%; display: block;">
    <div style="position: relative; display: inline-block; width: 30%;">
        <img class="img-thumbnail" [src]="state.currentTrack.absoluteAlbumArtUri">
        <div class="background"></div>
        <div class="playbar">
            <div> 
                <icon-button icon="backward" (click)="previous()"></icon-button>
            </div>
            <div> 
                <icon-button icon="play" (click)="play()" *ngIf="state.playbackState === 'STOPPED'; else pauseTemplate"></icon-button>
                <ng-template #pauseTemplate>
                    <icon-button icon="pause" (click)="stop()"></icon-button>
                </ng-template>
            </div>
            <div> 
                <icon-button icon="forward" (click)="next()"></icon-button>
            </div>
        </div>
    </div>

    <span style="width: 60%; float: right;">
        {{state.currentTrack.artist}}
    </span>
</div>