<div [ngClass]="{'is-main': isMainGroup}">
    <expander></expander>
    <div data-toggle="collapse" [attr.data-target]="'#volume' + member.roomName" style="user-select: none;">
        <div header>
        <span style="margin-left: 1rem;">{{member.roomName}}</span>
        <icon-button icon="volume-mute" (click)="unmute()" *ngIf="member.state.mute; else muteTemplate"></icon-button>
        <ng-template #muteTemplate>
            <icon-button icon="volume-up" (click)="mute()"></icon-button>
        </ng-template>
        {{member.state.volume}}
        </div>
        <div #volume [id]="'volume' + member.roomName" class="collapse">
            <input #slider id="calculatorSlider" class="no-border" type="range" 
                [ngModel]="member.state.volume" (ngModelChange)="onValueChange($event)" min="0" max="100" (change)="onValueChange($event)" />
        </div>
    </div>
</div>