@import '../../../../styles.scss';

.zone-container {
    padding: 0.3rem;
    margin: 1rem;
    border-style: solid;
    border-width: 0px;
    border-radius: 4px;
    color: $light-font;
    float: left;
    background-color: $dark-content;
    border-color: lightgray;
    box-shadow: 2px 2px 8px 4px $dark-content;
}
