<div class="col-md-4 zone-container" cdkDrag>
    <app-sonos-state [state]="zone.coordinator.state" [room]="zone.coordinator.roomName"></app-sonos-state>
    <div style="margin-left: 0.3rem;">
        <app-sonos-member *ngFor="let member of zone.members" [member]="member" [isMainGroup]="member.uuid === zone.uuid"></app-sonos-member>
    </div>
</div>