<div (click)="toggle()" (keydown)="_keydown($event)" tabindex="0">
    <span [@indicatorRotate]="_getExpandedState()" *ngIf="!hideToggle"
          class="expansion-indicator"></span> <ng-content select="header"></ng-content></div>
<div class="expansion-panel-content"
     role="region"
     [@bodyExpansion]="_getExpandedState()"
     (@bodyExpansion.done)="_bodyAnimationDone.next($event)"
     #body>
  <div class="expansion-panel-body">
    <ng-content></ng-content>
  </div>
</div>
