<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top" >
    <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item"><a class="nav-link" routerLink="sonos">Sonos</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="receipts">Rezepte</a></li>
    </ul>
  </nav>