/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

$dark: #343a40;
$dark-content: rgb(36, 36, 36);
$light-font: rgb(221, 221, 221);
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.icon-button {
  cursor: pointer;:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out ;
  }
}

.item-collapsed {
  visibility: collapse;
}

.icon-button:hover {
  transform: scale(1.1);
  transition: all .2s ease-in-out ;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height .15s ease;
       -o-transition: height .15s ease;
          transition: height .15s ease;
}
