.buttons {
    position: absolute;
    z-index: 5000;
    top: 4rem;
    right: 0;
    padding: 0.3rem 0.5rem;
    border-radius: 12px 0 0 12px;
    background-color: gray;
    color: white;
}