<div class="buttons">
    <icon-button icon="redo" (click)="load()"></icon-button>
</div>

<div cdkDropList cdkDropListOrientation="horizontal">
    <div *ngFor="let zone of zones$ | async">

    </div>
    <app-zone *ngFor="let zone of (zones$ | async)" [zone]="zone" (reload)="load()"></app-zone>
</div>